@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CSS Variables */
:root {

}
